extends layout

block content
  .container
    .row
        .col-5
            img.img-thumbnail(src=listing.file)
        .col
            img.rounded-circle.mr-2(src="http://placekitten.com/50/50")
            span.h6= listing.user.name
            hr
            h1= listing.shortdesc
            span.listing-price.h2.text-secondary= "$" + listing.price
            p.mt-3= listing.longdesc
            .row
                i.ml-3.material-icons location_on
                p= listing.address
            .row
                .col
                    - each tag in listing.tags
                        span.rounded.bg-white.text-muted.text-monospace.mx-1.px-2.py-1= tag
            hr
            .row
                a.btn.btn-primary.mx-3(href="#") Message Seller
                if (user && user.id == listing.user.id)
                    a.btn.btn-outline-primary.mr-3(href="/listings/edit/" + listing.id) Edit
                    form(action="/listings/delete/"+listing.id +"?_method=DELETE" method="POST")
                        button.btn.btn-outline-danger(type="submit") Delete