extends layout

block content
  .container
    .row
        .col-5
            img.img-thumbnail(src=listing.file)
        .col
            img.rounded-circle.mr-2(src="http://placekitten.com/50/50")
            span.h6= listing.user.name
            hr
            h1= listing.shortdesc
            span.listing-price.h2.text-secondary= "$" + listing.price
            p.mt-3= listing.longdesc
            .row
                i.ml-3.material-icons location_on
                p= listing.address
            .row
                .col
                    - each tag in listing.tags
                        span.rounded.bg-white.text-muted.text-monospace.mx-1.px-2.py-1= tag
            hr
            .row
                a.btn.btn-primary.mx-3(href="#") Message Seller
                if (user && user.id == listing.user.id)
                    a.btn.btn-outline-primary.mr-3(href="/listings/edit/" + listing.id) Edit
                    form(action="/listings/delete/"+listing.id +"?_method=DELETE" method="POST")
                        button.btn.btn-outline-danger(type="submit") Delete


           
    link(rel='stylesheet', href='https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css', type='text/css')
    |     
    link(rel='stylesheet', href='https://unpkg.com/ol-geocoder@3.2.0/dist/ol-geocoder.min.css', type='text/css')
    |     
    link(rel='stylesheet', href='https://unpkg.com/openlayers@4.6.5/dist/ol.css', type='text/css')
    |     
    link(rel='stylesheet', href='https://unpkg.com/ol-popup@2.0.0/src/ol-popup.css', type='text/css')
    |     
    style.
      /*.map {
      height: 400px;
      width: 100%;*/
      .html, #map {
      width:50%;
      height:50%;
      overflow:hidden;
      }
      body {
      font: 1em/1.5 BlinkMacSystemFont,-apple-system,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
      color: #222;
      font-weight: 400;
      }
      #map {
      position:absolute;
      z-index:5;
      top:50; bottom:0;
      }
      .ol-control button {
      background-color: rgba(40, 40, 40, 0.8) !important;
      }
      .ol-control button:hover {
      background-color: rgba(40, 40, 40, 1) !important;
      }
      }
    |     
    script(src='https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js')
    |     
    script(src='https://unpkg.com/openlayers@4.6.5/dist/ol.js')
    |     
    script(src='https://unpkg.com/ol-geocoder@3.2.0/dist/ol-geocoder.js')
    |     
    script(src='https://unpkg.com/ol-popup@2.0.0/src/ol-popup.js')
    |     
    title OpenLayers 
  |   
  body
    h2 Item Location
    |     
    #map.map(tabindex='0')
    |     
    script(src='http://openlayers.org/en/v3.11.2/build/ol.js')
    |     
    script(type='text/javascript').
      var olview = new ol.View({ center: ol.proj.fromLonLat([-82.3248262, 29.6516344]), zoom: 14 }),
      baseLayer = new ol.layer.Tile({ source: new ol.source.OSM() }),
      map = new ol.Map({
      target: document.getElementById('map'),
      view: olview,
      layers: [baseLayer]
      });
      // popup
      var popup = new ol.Overlay.Popup();
      map.addOverlay(popup);
      //Instantiate with some options and add the Control
      var geocoder = new Geocoder('nominatim', {
      provider: 'osm',
      lang: 'en',
      placeholder: 'Search for ...',
      limit: 5,
      debug: false,
      autoComplete: true,
      keepOpen: true
      });
      map.addControl(geocoder);
      //Listen when an address is chosen
      geocoder.on('addresschosen', function (evt) {
      console.info(evt);
      window.setTimeout(function () {
      popup.show(evt.coordinate, evt.address.formatted);
      }, 500);
      });

