extends layout

block content
  .container
    .row
        form.input-group.mb-4.mx-3
          input.form-control.rounded(type="search" placeholder="Search All Listings" aria-label="Search" id="txtSearch" value='#{searchCriteria}')
          span.input-group-btn.ml-2
            button.btn.btn-primary(type="submit",id="btnSearch") Search
    .row
      .col
        h4 Search results for: !{searchCriteria}
    .row
      .col
        .listings-grid
          - each listing in listings
            div.card.listing-thumb
              a(href="/listings/"+listing.id)
                img(class="card-img-top", src=listing.file)
              div.card-body
                a(href="/listings/"+listing.id)
                  h5.card-title.text-capitalize.text-truncate= listing.shortdesc
                h6.card-subtitle.h4.mb-2= "$" + listing.price
                p.card-text.text-truncate
                  small.text-muted= listing.address

    button.btn.btn-primary.btn.mr-2(type='prev') <
    button.btn.btn-primary.btn(type='next') >
