extends layout

block content
  if (user)
    .container
      .row
        .col
          .p-4.text-center.bg-dark.text-light.rounded
              img.profile-picture.rounded-circle.m-2(src=user.image)
              h5.text-capitalize= user.name
              a.btn.btn-outline-secondary.my-3(href="/users/edit/"+user.id) Edit Account
              div
                i.material-icons.mr-2.align-bottom.text-secondary local_offer
                | #{listings.length} Listings

        .col
          h2 Your Listings
          .listings-grid
            - each listing in listings
              div.card.listing-thumb
                a(href="/listings/"+listing.id)
                  img(class="card-img-top", src=listing.file)
                div.card-body
                  a(href="/listings/"+listing.id)
                    h5.card-title.text-capitalize.text-truncate= listing.shortdesc
                  h6.card-subtitle.h4.mb-2= "$" + listing.price
                  p.card-text.text-truncate
                    small.text-muted= listing.address
                  form(action="/listings/delete/"+listing.id +"?_method=DELETE" method="POST")
                      button.btn.btn-outline-danger(type="submit") Delete
  if (!user)
    h2 Not Authorized
